@layer components {
	.scroll-area-root {
		position: relative;
		overflow: hidden;
	}

	.scroll-area-viewport {
		height: 100%;
		width: 100%;
		border-radius: inherit;
	}

	.scroll-area-scrollbar-vertical {
		display: flex;
		width: 0.625rem;
		touch-action: none;
		padding: 0.125rem;
	}

	.scroll-area-scrollbar-horizontal {
		display: flex;
		flex-direction: column;
		height: 0.625rem;
		touch-action: none;
		padding: 0.125rem;
	}

	.scroll-area-thumb {
		position: relative;
		flex: 1;
		border-radius: var(--twc-radius-circle);
		background-color: var(--twc-border-2);
	}

	.scroll-area-corner {
		background-color: var(--twc-border-2);
	}
}
